a:hover
{
    text-decoration: none !important;
}

#loader
{
    position:fixed;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    background: rgba(255,255,255,0.9);
    z-index:99999999;
}

#loader-icon
{
    position:fixed;
    width: 150px;
    height:150px;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
}

.data-block .card
{
    cursor: pointer;
}

.data-block .card:hover
{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.09);
}

.content-types
{
    position:absolute;
    right:1%;
    bottom:1%;
    height:20px;
    background:#fff;
}

.icn-content
{
    font-size:12px;
    margin-left:3px !important;
    color:#555;
    margin-bottom:3px;
}

.fa-youtube-play, .fa-globe
{
    font-size:14px;
    padding-top:2px;
    margin-bottom:0px !important;
}

#msgBox
{
    font-weight:bold;
}

.card
{
    margin-bottom:8px;
}

.card-block
{
    height:48px !important;
    max-height:48px !important;
    min-height:48px !important;
    overflow:hidden !important;
}

.card-block-lg
{
    height:60px !important;
    max-height:60px !important;
    min-height:60px !important;
    overflow:hidden !important;
}

.card-block-sm
{
    height:30px !important;
    max-height:30px !important;
    min-height:30px !important;
    overflow:hidden !important;
}

#searchBar
{
    position: fixed;
    top:0;
    text-align:center;
    height:55px;
    width:100%;
    background: #fff;
    margin:0;
    padding:20;
    display:none;
    outline: none;
}

.search-panel
{
    position: fixed;
    top:0;
    height:35px;
    left:50%;
    width:320px;
    margin-left:-160px;
    padding:10px;
}

#search-input
{
    border:0;
    outline-color: #fff;
    width:260px !important;
    font-size: 20px;
}

#search-input:focus
{
    border-color: #fff !important;
    box-shadow: none !important;
}

.search-close
{
    position: absolute;
    top:3px;
    right:10px;
    background: #eee;
    color: #222;
    border-radius: 10px;
    padding:5px 20px;
    cursor:pointer;
    font-size:20px;
}

/** Floating icons **/
.floating-icon-main
{
    position:fixed;
    bottom:60px;
    right:10px;
    width:50px;
    height:50px;
    background:#333;
    border-radius:50px;
    border: 2px solid #222;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.floating-icon span
{
    color:#fff;
    font-size:25px;
    margin-top:12px;
    margin-left:14px;
}

.floating-icon:hover
{
    background:rgb(0, 123, 180);
    border: 2px solid rgb(0, 122, 221);
}


/** Forms **/
.input-group-text
{
    width:100px;
    text-align:center !important;
    display:block !important;
    font-weight:bold;
    font-size: 11px;
}

.form-control
{
    font-size: 12px;
    padding: 5px;
}

.input-group
{
    margin-bottom: 5px;
}

/** Templates styles overriding **/
html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .main, html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .app-footer
{
    margin-right: 0px !important;
}

html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer
{
    margin-left: 0px !important;
}

.aside-menu
{
    width:320px;
}

.aside-menu-fixed .app-header + .app-body .aside-menu
{
    height: calc(100vh - 55px);
}

html:not([dir="rtl"]) .aside-menu
{
    margin-right: -320px;
}

.badge-content
{
    background: green;
    color:#fff;
    margin-right:2px;
    padding:2px 5px;
    font-size:9px !important;
}

.btn-default
{
    background:#eee;
}

.btn-app
{
    font-weight:bold;
    font-size:13px;
}

.title-bar
{
    font-weight:bold;
    width:100%;
    padding:7px;
    text-align:center;
    font-size:14px;
    background:rgb(223, 247, 255);
    color:rgb(0, 138, 202);
}

header{
    background: #F7F8F8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F7F8F8, #ACBB78);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F7F8F8, #ACBB78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .app-header .navbar-brand
  {
      width: 180px;
  }

  .container-fluid
  {
      padding: 0 !important;
      margin:0;
  }

.content-body
{
    padding:10px;
}



.custom-filter-dropdown {
    padding: 8px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  }
  
  .custom-filter-dropdown input {
    width: 130px;
    margin-right: 8px;
  }
  
  .custom-filter-dropdown button {
    margin-right: 8px;
  }
  
  .highlight {
    color: #f50;
  }

  .left-margin { 
      margin-left: 2px !important;
      /* position: absolute !important; */
      right: 10px !important;
    }

    thead[class*="ant-table-thead"] th{
      background-color: 	#F0F0F0 !important;
      color:#0a2f76 !important;
      font-weight:700 !important;
      /* height: 10px !important; */
    }

    
  

  .rightbtn{
    float: right !important;
    margin-right: 5px !important;

  }

  th{
    line-height: 14px !important;
  }

  th:first-child{
    width: 130px !important;
  }

  td{
    height: 12px !important;
  }
  .flotingBtn{
    bottom: 40px !important;
  }
  
  tbody > tr > td {
    padding: 5px 16px !important;
    font-size:13px !important;
}

.ant-table-thead > tr:first-child > th:last-child {
  border-top-right-radius: 0px;
}

.form-control
{
  font-size:15px !important;
}

.rdl-filter, .rdl-control
{
  font-size:15px !important;
}

.container-fluid label
{
  font-size:15px;
  font-weight:bold;
}

.main, .container-fluid .card
{
  background:#ECF0F1 !important;
  border:none !important;
}

.content-body
{
  background: #fff;
  border-radius:10px;
  margin:20px;
  padding:20px;
  border:0px;
}

.container-fluid .card-body, .container-fluid .card-footer
{
  background: #fff !important;
  border-radius:10px !important;
  margin:20px 10% !important;
  padding:20px !important;
  border:0px !important;
}

.container-fluid .card-footer
{
  margin-bottom:30px !important;
}

/* #title-cont
{
  font-size:16px;
  color: #07ace6;
  background:#f0fffd;
} */

header
{
    background: rgba(12,206,188,1);
    background: -webkit-linear-gradient(-45deg, rgba(12,206,188,1) 0%, rgba(49,93,183,1) 100%);
    background: linear-gradient(135deg, rgba(12,206,188,1) 0%, rgba(49,93,183,1) 100%);
}

.navbar-brand
{
  background: #fff !important;
  margin: 10px !important;
  height: 40px !important;
  border-radius: 5px !important;
}


.app-header {
  border-bottom: 0px solid #c8ced3 !important;
}

.MuiIconButton-root-1 {
    padding: 6px !important;
}




.styles_modal__gNwvD, .styles_modal__gNwvD .card-body
{
    border-radius:15px;
}

.styles_modal__gNwvD .card
{
    border:none;
}

.narrow-input
{
    height: 35px !important;
}

.input-group-text
{
    padding-top: 0.5rem;
}



.data-block .card
{
    cursor: pointer;
}

.data-block .card:hover
{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.09);
}

.card
{
    margin-bottom:8px;
}

.card-block
{
    height:48px !important;
    max-height:48px !important;
    min-height:48px !important;
    overflow:hidden !important;
}

.card-block-lg
{
    height:60px !important;
    max-height:60px !important;
    min-height:60px !important;
    overflow:hidden !important;
}

.card-block-sm
{
    height:30px !important;
    max-height:30px !important;
    min-height:30px !important;
    overflow:hidden !important;
}

.main, .container-fluid .card
{
  background:#ECF0F1 !important;
  border:none !important;
}

.container-fluid .card-body, .container-fluid .card-footer
{
  background: #fff !important;
  border-radius:10px !important;
  margin:20px 10% !important;
  padding:20px !important;
  border:0px !important;
}

.container-fluid .card-footer
{
  margin-bottom:30px !important;
}

.styles_modal__gNwvD, .styles_modal__gNwvD .card-body
{
    border-radius:15px;
}

.styles_modal__gNwvD .card
{
    border:none;
}


.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.input-group-prepend, .input-group-append {
    display: flex;
}

.input-group-text {
  padding-top: 0.5rem;
}

.input-group-text {
  width: 100px;
  text-align: center !important;
  display: block !important;
  font-weight: bold;
  font-size: 11px;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5c6873;
  text-align: center;
  white-space: nowrap;
  background-color: #f0f3f5;
  border: 1px solid #e4e7ea;
  border-radius: 0.25rem;
}

.input-group > .form-control:not(:first-child), .input-group > .custom-select:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group > .form-control, .input-group > .form-control-plaintext, .input-group > .custom-select, .input-group > .custom-file {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}
.form-control {
  padding: 10px 15px;
  height: 50px;
  border-radius: 2px;
  border: 1px solid #c1c1c1;
  font-size: 13px;
  color: #616161;
  background: rgba(255, 255, 255, 1);
}
.narrow-input {
  height: 35px !important;
}
.form-control {
  font-size: 15px !important;
}
.form-control {
  font-size: 12px;
  padding: 5px;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(2.0625rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5c6873;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e4e7ea;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
button, input {
  overflow: visible;
}
input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
*, *::before, *::after {
  box-sizing: border-box;
}
input {
  padding: 1px 0px;
}
input {
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}
input, textarea, select, button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 13.3333px Arial;
}
user agent stylesheet
input, textarea, select, button, meter, progress {
  -webkit-writing-mode: horizontal-tb !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}





@media (min-width: 576px){
.card-group {
    flex-flow: row wrap;
}
}
.card-group {
    display: flex;
    flex-direction: column;
}


@media (min-width: 576px){
.card-group > .card {
    flex: 1 0;
    margin-bottom: 0;
}
}
.card-group > .card {
    margin-bottom: 15px;
}
.card {
    margin-bottom: 8px;
}
.card {
    margin-bottom: 1.5rem;
}
.p-4 {
    padding: 1.5rem !important;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #c8ced3;
    border-radius: 0.25rem;
}


.card-body {
  border-radius: 15px;
}
.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

span.input-group-text {
  padding: 6px;
  font-size: 95%;
}

a:hover {
  cursor:pointer;
 }


 h2 {
  font-size: 25px;
  line-height: 25px;
}

a.student-login {
  padding: 10px !important;
  margin-bottom: 10px;
  color: cornflowerblue;
}